<script setup lang="ts">
import { provide } from 'vue'
import { ref } from 'vue'
import { RouterView } from 'vue-router'
import MainAppbar from './components/MainAppbar.vue'
import MainMenu from './components/MainMenu.vue'
import { useAuthStore } from './stores/auth'
const rail = ref(true)
const drawer = ref(true)
const authStore = useAuthStore()
provide('rail', rail)
provide('drawer', drawer)
provide('currentUser',authStore.currentUser)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <MainAppbar />
    <MainMenu />
    <v-main class="align-center justify-center" style="min-height: 300px">
      <div class="pa-6"><RouterView /></div>
    </v-main>
  </v-layout>
</template>

<style scoped></style>
